version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    environment:
      - NODE_ENV=production
  frontend:
    build: ./frontend1
    ports:
      - "5173:5173"
    volumes:
      - ./frontend1:/app
    environment:
      - NODE_ENV=production
    depends_on:
      - backend